/* import fonts from fonts.css file*/

@import url(./fonts.css);
/* css vars*/
@import url(../css/partials/variables.css);
/* global css*/
@import url(../css/partials/global.css);

/* start nav */

@media screen and (max-width: 600px) {
  .sticky-div {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.contact-details {
  margin-left: 2rem;
  font: normal bold 3vmin/ 32px var(--space);
  color: var(--title-color);
}

.sticky-div {
  /* background-color: green; */
  color: white;
  text-align: right;
  position: relative;
  width: 100%;
  padding: 10px 10px;
}

.start {
  height: 100px;
}

.end {
  height: 500px;
}

body{
  background: black;
}

/* Size of home-page image on diff sizes */
@media (max-width: 428px) {
  .header_area .main-menu .navbar .navbar-brand{
    /* padding: 0 2rem 0 2rem; */
    height: auto;
    width: 300px;
    padding: 0;
  }
}

@media (max-width: 380px) {
  .header_area .main-menu .navbar .navbar-brand{
    /* padding: 0 2rem 0 2rem; */
    height: auto;
    width: 230px;
    padding: 0;
  }
}

.header_area .main-menu .navbar{
  padding: 0.5rem 1rem;
  /* background-color: var(--text-color); */
}

.header_area .main-menu .nav-item .nav-link{
  font: normal 500 15px/2px var(--space);
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* end nav */

/* banner area */
/*  showreel */
.showreel {
  position: absolute;
  width: 100%;
  /*min-height: 100vh; */
  max-height: 25vh;
  background-color: rgab(0,0,0,0.2);
  z-index: -1;
}

.site-main .site-banner .site-title h3{
  font-size: 1.8rem;
  padding-top: 5%;
  font-weight: 500;
}

.site-main .site-banner .site-title h1{
  font-size: 3rem;
}

/* .site-main .site-banner .site-title h3{
  font-size: 1.5rem; 
   padding-top: 2%;
} */

.site-main .site-banner .banner-image > img{
  padding: 1rem 0;
  /* width: 50rem; */
}

/* p5 beat-sketch styling TO FIX: canvas does not reach limit of div, how to extend it? */
canvas {
  /* width: 100%;
  height: 100%; */
  /* display: absolute;  */
  position: fixed;
  /* top: 0;
  left: 0; */
  z-index: -9999;
}

/* end banner area ============================== */

/* start about area ============================== */

.site-main .about-area{
  /*top & bottom 1rem, right & left 2rem*/
  padding: 1rem 1rem;
}

.site-main .about-area .about-title h2 > span{
  display: block;
  font: normal bold 30px var(--roboto);
  letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p{
  font: normal 500 16px/1.2rem var(--space);
  text-align: left;
  padding: .4rem 0;
}

.site-main .about-area .about-title .social-text > a{
  padding: 0 1rem 2rem 0;
  font-size: 8vmin;
  color: var(--text-color); 
}

.site-main .about-area .about-title .social-text > a:hover{
  color: var(--primary-color2);
}

.para > a:hover{
  color: var(--primary-color2);
}
/* end about area ============================== */

/* start project area ============================== */

.carousel-item{
  height: 32rem;
  background: #777;
  color: white;
}

.site-main .project-area{
  padding: 4rem 2rem;
}

.site-main .project-area .button-group button{
  margin: 0.25rem;
  padding: 1rem 0.5rem 1rem 0;
  background: var(--primary-color2);
  border: none;
  border-radius: 20px;
  font: normal 500 3vmin/15px var(--space);
  color: white;
  box-shadow: 1px 7px #fe007fae;
  /* text-transform: uppercase; */
}

#btn1 {
  padding-left: 3rem;
}

.site-main .project-area .button-group button + button{
  padding-left: 3.5rem;
}

.site-main .project-area .button-group button:hover{
  /* border: white; */
  /*To-DO: Make hover animation slightly longer*/
  background: transparent;
  color: rgb(66, 135, 245);
  border-radius: 20px;
  transform: all 0.5s;
}

.site-main .project-area .grid .our-project > .title h4{
  font: normal 700 25px/25px var(--roboto);
  color: var(--title-color);
}
/* end project area ============================== */

/*-- css for project pages ====== */

.site-main .project-area {
  padding-top: 2rem;
}

/* JOURNAL / BLOG style */
.journal-img {
  width: 200px;
  height: 250px;
}

.journal-para {

  margin: 2rem 3rem 1rem 3rem;
  color: var(--title-color);
  font: normal 550 17px/25px var(--space);
  /* text-align: justify; */
}
/* Hiding incompatible elements from mobile devices*/

@media screen and (max-width: 400px) {
  .desktop-vis {
    color: white;
    margin-top: 3rem;
    visibility: hidden;
    clear: both;
    float: left;
    width: 28%;
    display: none;
  }
}