/* import fonts from fonts.css file*/

@import url(./fonts.css);
/* css vars*/
@import url(../css/partials/variables.css);
/* global css*/
@import url(../css/partials/global.css);

/* start nav */

body{
  background: black;
}
.header_area .main-menu .navbar .navbar-brand{
  padding: 0 2rem 0 2rem;
}

.header_area .main-menu .navbar{
  padding: 1rem 5rem;
}

.header_area .main-menu .nav-item .nav-link{
  font: normal 500 15px/2px var(--space);
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* end nav */

/* banner area */
/* .site-main .site-banner{
  background: url(../img/banner/home-banner.png)no-repeat 0% 50%;
} */

.site-main .site-banner .site-title h3{
  padding-top: 15%;
  font-weight: 500;
} 

/* .site-main .site-banner .site-title h3::after{
  content:"";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform:translateY(-10px);
} */

.site-main .site-banner .site-title h1{
  font-size: 3rem;
}

.site-main .site-banner .site-title h4{
  font-size: 1.5rem;
  padding-top: 2%;
}

.site-main .site-banner .banner-image > img{
  padding: 3rem 0;
  width: 50rem;
}

#tag-intro{
  line-height: 45px;
}

/* p5 beat-sketch styling TO FIX: canvas does not reach limit of div, how to extend it? */
canvas {
  /* width: 100%;
  height: 100%; */
  display: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

/* end banner area ============================== */

/* start about area ============================== */

.site-main .about-area{
  padding: 1rem 2rem;
}

.site-main .about-area .about-title h2 > span{
  display: block;
  font: normal bold 30px var(--roboto);
  letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p{
  padding: .4rem 0;
}

.site-main .about-area .about-title .social-text > a{
  padding: 0 0 1rem 0;
  font-size: 30px;
  color: var(--secondary-color);
}

.site-main .about-area .about-title .social-text > a:hover{
  color: var(--primary-color2);
}
/* end about area ============================== */

/* start project area ============================== */
.site-main .project-area{
  padding: 2rem 0;
}

.site-main .project-area .button-group button{
  /* padding: 4rem 0 1rem 0; */
  background: transparent;
  border: none;
  font: normal 500 16px/30px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button:hover{
  background: rgb(66, 135, 245);
  border-radius: 5px;
}

.site-main .project-area .button-group button + button{
  padding-left: 1rem;
}

.site-main .project-area .grid .our-project > .title h4{
  font: normal 700 25px/25px var(--roboto);
  color: var(--title-color);
}
/* end project area ============================== */

/*-- css for project pages ====== */

.site-main .project-area {
  padding-top: 2rem;
}