/* Global Classes */

a {
  color: white;
}

.title-text{
  /* margin-top: 2rem; */
  font: normal bold 4vmin/ 64px var(--space);
  color: var(--title-color);
}

.text-uppercase{
  text-transform: uppercase;
  color: var(--text-color);
}

.text-secondary{
  color: white;
}

.profile-pic{
  width: 80%;
  /* height: 80%; */
  z-index: -100;
}

.amorphous-about{
  width: 80%;
  height: 20%;
}

.work-title{
  color: var(--text-color);
  padding-bottom: 0.5rem;
}

.work-tag{
  color: white;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}

.work-vid{
  /* TO-DO: MAKE VIDS BIGGER/BETTER LOOKING?*/
  /* padding: 1rem; */
  /* width: 250%;
  height: 250%; */
  margin-right: 1rem;
}

/* Sketch styling - this is a tricky one still */

#rose-curve { /* TO-DO: NEEDS FIXING */
  margin: 0;
  position: fixed;
  /* top:100vmin;  */
  left: 15rem;  
  width:50%;
  height:100%;
  z-index: -1; 
}

#beat-sketch{
  position: fixed;
  z-index: -9999;
  /* position: absolute; */
  top:0rem;
  right:0rem;
  width:100%;
  height:100%;
  z-index: -999;
}

#tiling-canvas{
  z-index: 50;
}



/* Buttons */

.button{
  margin: 2vmin;
  padding: .8rem 1rem;
  font: normal 500 16px/20px var(--roboto);
  position: relative;
  border: .3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background:var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background .6s ease;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after, .button.secondary-button:after{
  position: absolute;
  top: -2px;left:-2px;
  bottom:-2px; right: -2px;
  background: var(--gradient-color);
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button{
  background: white;
  background-clip: padding-box;
  transition: background .6s ease;
}

.button.secondary-button:hover{
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}

p.para{
  color: var(--title-color);
  font: normal 550 17px/25px var(--space);
  text-align: justify;
}

button:focus,
button:active
button:hover 
.btn:active,
.btn.active{
  outline: 0px !important;
  box-shadow: 0px !important;
}

a:hover{
  color: var(--primary-color2);
}

.navbar_fixed{
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;right:0;
  background: #ffffff;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 2s ease;
}